
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-family:'Covered By Your Grace';
    background-image:linear-gradient(rgb(128,0,0),rgb(105,105,105));
    color: #000000;
}
.header_logo{
    text-align: center;
}
.header_topics_link{
    padding: 0 10px 0 10px;
    color:#000000;
}
.header_topics_link:hover {
    color: rgb(205, 15, 21);
    font-size: 25px;
}
.header_topics {
    display: flex;
    font-size: 20px;
    margin-top: 20px;
    font-family: 'Covered By Your Grace';
}

