.main_cast{
    background-color:var(--background-cast-color);
    color:var(--text-color);
    font-family:'Covered By Your Grace';
}
.main_link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    font-family:'Covered By Your Grace' ;
    font-size:30px;
    color:#000000;
}

