@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
h1{
    text-align: center;
    font-family:'Covered By Your Grace';
    background-color:gray;
}
.header_logo{
    text-align: center;
}
.main_cast{
    background-color:gray;
    font-family:'Covered By Your Grace';
}
